/*  BRAND COLORS  */

$brand-primary: #4d32bb;
$brand-primary-light: #635bcb;
$brand-primary-inverse: #f0f4f5;
$brand-gray: #3b3b3b;
$brand-teal: #28a6ac;
$brand-teal-light: #6becf4;
$brand-teal-inverse: #b0f7eb;
$brand-dark: #2f2e41;
$brand-white: #ffffff;

/*  TEXT COLORS */

$text-color: #0d0d0d;

/* SCSS HEX */

$app-minsk: #3a3076;
$app-gray: #eeeef1;
$app-purple: #8a64b6;
$manatee: #908ca8;
$logan: #b4a3c8;
$app-clay: #887e65;
$jungle-mist: #b9d6d7;
$corvette: #fad399;
$jacarta: #44346c;
$malibu: #58ccf8;