.border-grey {
    border: 1px solid #CBCBCB;
}

.d-block {
    display: block;
}

.border-8 {
    border-radius: 8px;
}

.main-container {
    max-width: 1440px;
    margin: 0 auto;
}

.table-data, .form, .card {
    max-width: 500px;
    margin: 0 auto;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }